@{
    ViewBag.Title = "Sobre";
}

<div id="sobre">
  <h2>Sobre</h2>
  <br>
  <p>O TAD (Treinamento a distância) é um sistema coorporativo que tem como finalidade oferecer treinamentos a distância através de video aulas.</p>
  <p>Após o término do vídeo o colaborador deve realizar o teste, para medir se o mesmo teve aproveitamento do treinamento.</p>
  
</div>
<div id="imagem-sobre">
    <img src="~/Content/themes/base/images/sobre.jpg" />
</div>